<div class="container my-5">
  <p class="fw-bold text-center " style="color: #139bfd;">EDUCATION</p>
  <h2 class="fw-bold">Education is the foundation of my journey as a developer.</h2>
      <p class="text-muted">
        I’ve pursued academic and online learning to build a strong understanding of web technologies and software development. Each step of my education has equipped me with practical skills and critical thinking to solve real-world problems through clean, scalable code.
      </p>

  <div *ngFor="let edu of educationList" class="d-flex mb-4 align-items-start">
    <!-- Icon on the left -->
    <div class="icon-circle me-3">
      <i class="fas fa-graduation-cap"></i>
    </div>

    <!-- Education card -->
    <div class="card flex-grow-1 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">{{ edu.degree }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ edu.institution }}</h6>
        <p class="mb-1"><strong>Duration:</strong> {{ edu.duration }}</p>
        <p class="card-text">{{ edu.description }}</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a routerLink="/certificates" class="btn btn-outline-dark rounded-pill px-4 Certificates-btn">Certificates &rarr;</a>
  </div>
</div>
