.about-section {
  background-color: transparent;
}

.image-wrapper {
  border: 3px solid #00cfff;
  border-radius: 20px;
  padding: 12px;
  max-width: 400px;
}

.profile-img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 0 20px 40px rgba(0, 217, 255, 0.4);
  background-color: rgb(209, 214, 214);
}

.about-card {
  width: 220px;
  transition: all 0.3s ease;
  background: #f9f9f9;
}

.about-card:hover {
  transform: translateY(-5px);
  border: 1px solid #00cfff;
  box-shadow: 0 10px 20px rgba(0, 217, 255, 0.15);
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
}

.bg-gradient-primary {
  background: linear-gradient(to right, #139bfd, #008cff);
}

.animate-on-scroll {
  opacity: 0;
  visibility: hidden;
}

:host-context(.dark-theme) .about-card {
  background: radial-gradient(circle at top left, rgba(0, 123, 255, 0.3), transparent 40%);
  border: 1px solid #139bfd;
}

:host-context(.dark-theme) .about-card:hover {
  background: radial-gradient(circle at bottom, rgba(61, 137, 219, 0.3), transparent 40%);
  border: 2px solid #00c6ff;
}

:host-context(.dark-theme) .btn {
  color: var(--para-color);
}
