<header class="custom-header sticky-top bg-transparent py-3">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between gap-4">

      <!-- Name Section -->
      <div class="d-flex align-items-center">
        <a href="index.html" class="d-flex align-items-center underline-none">
          <h2 class="nav-name mb-0">Muhammad Umaid</h2>
        </a>
      </div>

      <!-- Navigation Section -->
      <div class="flex-grow-1 d-none d-xl-block">
        <nav>
          <ul class="tmp-mainmenu nav nav-pills justify-content-center align-items-center gap-4 mb-0">
            <li class="nav-item">
              <a class="nav-link custom-nav-link" [ngClass]="{'active-link': activeSection === 'home'}" routerLink="/" fragment="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" [ngClass]="{'active-link': activeSection === 'skills'}" routerLink="/" fragment="skills">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" [ngClass]="{'active-link': activeSection === 'about'}" routerLink="/" fragment="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" [ngClass]="{'active-link': activeSection === 'skill'}" routerLink="/" fragment="skill">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" [ngClass]="{'active-link': activeSection === 'portfolio'}" routerLink="/" fragment="portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-nav-link" [ngClass]="{'active-link': activeSection === 'contact'}" routerLink="/" fragment="contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Icons Section -->
      <div class="d-flex align-items-center gap-3">
        <!-- Social Links -->
        <div class="d-none d-md-flex gap-3 align-items-center">
          <a href="https://www.instagram.com/muhammad.umaid.165?igsh=MTB5cnFpbmd1NWdlcA==" class="icon-circle shadow-sm text-dark d-flex align-items-center justify-content-center">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/muhammadumaid90068b366" class="icon-circle shadow-sm text-dark d-flex align-items-center justify-content-center">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/9321451" class="icon-circle shadow-sm text-dark d-flex align-items-center justify-content-center">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://www.facebook.com/muhammad.umaid.165" class="icon-circle shadow-sm text-dark d-flex align-items-center justify-content-center">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>

        <!-- Mobile Toggle -->
        <button class="btn btn-outline-secondary d-block d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu">
          <i class="fas fa-bars"></i>
        </button>
      </div>

    </div>
  </div>
</header>

<!-- Offcanvas Side Nav for Mobile -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="mobileMenu" #mobileoffcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Muhammad Umaid</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column gap-3">
      <li class="nav-item">
        <a class="nav-link custom-nav-link"
         routerLink="/" fragment="home" (click)="closeOffcanvas()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="/" fragment="skills" (click)="closeOffcanvas()">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="/" fragment="about" (click)="closeOffcanvas()">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="/" fragment="skill" (click)="closeOffcanvas()">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="/" fragment="portfolio" (click)="closeOffcanvas()">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" routerLink="/" fragment="contact" (click)="closeOffcanvas()">Contact</a>
      </li>
    </ul>
    <div class="d-flex gap-3 mt-4">
      <a href="https://www.instagram.com/muhammad.umaid.165?igsh=MTB5cnFpbmd1NWdlcA==" class="text-dark fs-4">
            <i class="fab fa-instagram"></i>
          </a>
      <a href="https://github.com/9321451" class="text-dark fs-4"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/muhammadumaid90068b366" class="text-dark fs-4">
            <i class="fab fa-linkedin-in"></i>
          </a>
      <a href="https://www.facebook.com/muhammad.umaid.165" class="text-dark fs-4"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
</div>

