<section class="skills-section py-5 bg-transparent text-center" id="skills">
  <h6 class="fw-bold" style="color: #139bfd;">WHAT I DO</h6>
  <h2 class="fw-bold mb-5">What I Provide For You</h2>

  <div class="container">
    <div class="row g-4 justify-content-center">
      <!-- Card 1 -->
      <div class="col-12 col-sm-6 col-md-5 animate-on-scroll" data-animation = "animate__fadeInTopLeft">
        <div class="service-card p-4 rounded-4 h-100">
          <div class="icon-circle mb-3 mx-auto">
            <i class="fas fa-code fa-2x text-white"></i>
          </div>
          <h4 class="fw-bold">Web Frontend</h4>
          <p class="">
            Crafting responsive UIs with modern frameworks.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-sm-6 col-md-5 animate-on-scroll" data-animation = "animate__fadeInTopRight">
        <div class="service-card p-4 rounded-4 h-100">
          <div class="icon-circle mb-3 mx-auto">
            <i class="fas fa-palette fa-2x text-white"></i>
          </div>
          <h4 class="fw-bold">Graphics Designing</h4>
          <p class="">
            
            Creating visually compelling designs that communicate ideas and elevate brand identity across digital platforms.
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-5 animate-on-scroll" data-animation = "animate__flipInX">
        <div class="service-card p-4 rounded-4 h-100">
          <div class="icon-circle mb-3 mx-auto">
            <i class="fa-solid fa-database fa-2x text-white"></i>
          </div>
          <h4 class="fw-bold">Web Backend</h4>
          <p class="">
            Developing efficient APIs and data handling logic.
          </p>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-5 animate-on-scroll" data-animation = "animate__flipInX">
        <div class="service-card p-4 rounded-4 h-100">
          <div class="icon-circle mb-3 mx-auto">
            <i class="fa fa-cogs fa-2x text-white"></i>
          </div>
          <h4 class="fw-bold">Technical Support</h4>
          <p class="">
            Providing reliable assistance and troubleshooting to ensure seamless IT operations and user satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

