<div class="floating-icons">
  <!-- Toggle Arrow Button -->
  <button
  (click)="toggleResumeIcon()"
  class="toggle-arrow"
  aria-label="Toggle download button"
>
  <i
    class="fas"
    [ngClass]="[
      animationClass,
      showResume ? 'fa-chevron-down' : 'fa-chevron-up'
    ]"
  ></i>
</button>

<!-- Dark Mode Toggle Icon Row -->
<div *ngIf="showResume" class="icon-row">
  <span class="icon-label">Dark Mode</span>
  <button
    (click)="toggleDarkMode()"
    class="darkmode-float"
    aria-label="Toggle Dark Mode"
  >
    <i class="fas" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
  </button>
</div>

  <!-- WhatsApp Button (always visible, label only on toggle) -->

  <div *ngIf="showResume" class="icon-row">
    <span  class="icon-label">WhatsApp</span>
    <a
      href="https://wa.me/+923499321451"
      class="whatsapp-float"
      target="_blank"
      aria-label="Chat on WhatsApp"
    >
      <i class="fab fa-whatsapp whatsapp-icon"></i>
    </a>
  </div>

  <!-- Resume Button (only visible when toggled) -->
  <div  class="icon-row">
    <span *ngIf="showResume" class="icon-label">Download Resume</span>
    <a
      href="assets/Umaid.pdf"
      download
      class="resume-float"
      aria-label="Download Resume"
    >
      <i class="fas fa-file-download resume-icon"></i>
    </a>
  </div>

  
</div>
