<div class="container py-5">
  <div class="text-start mb-5">
    <p class="fw-bold fs-4" style="color: #139bfd;">Latest Portfolio</p>
    <h2 class="fw-bold">Transforming Ideas into Exceptional</h2>
    <p class=" w-75">
     Web developers provide expert solutions and guidance to businesses by building and optimizing websites and web applications that improve performance, user experience, and digital presence.
    </p>
  </div>

  <div class="row g-4">
    <div class="col-md-6" *ngFor="let project of portfolio">
      <div class="card portfolio-card rounded-4 h-100">
        <img [src]="project.image" class="card-img-top rounded-top-4" alt="{{project.title}}">
        <div class="card-body">
          <h5 class="fw-bold animate-on-scroll" data-animation="animate__fadeInLeft">{{ project.title }}</h5>
          <p class=" animate-on-scroll" data-animation="animate__fadeInRight">{{ project.description }}</p>
          <div class="d-flex flex-wrap gap-2 my-2">
            <span *ngFor="let tech of project.technologies" class="badge bg-light text-secondary border">
              {{ tech }}
            </span>
          </div>
          <a [routerLink]="['/project-detail', project.id]" data-animation="animate__jackInTheBox" class="btn btn-outline-secondary rounded-pill px-4 animate-on-scroll">
            View Details →
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
