.portfolio-card {
  transition: all 0.3s ease;
}

.portfolio-card:hover {
  border: 2px solid #139bfd;
  box-shadow: 0 10px 30px rgba(0, 123, 255, 0.15);
  transform: translateY(-5px);
}

.portfolio-card:hover::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 1rem;
  pointer-events: none;
  box-shadow: 0 0 10px #139bfd;
  opacity: 0.2;
  transition: opacity 0.4s ease-out;
}

.card-img-top {
  height: 260px;
  object-fit: cover;
}

.animate-on-scroll {
  opacity: 0;
  visibility: hidden;
}

:host-context(.dark-theme) .card{
  background: radial-gradient(circle at top left, rgba(0, 123, 255, 0.3), transparent 40%);
  border: 2px solid #139bfd;
}

:host-context(.dark-theme) h5{
  color: var(--text-color);
}

:host-context(.dark-theme) span{
  color: #139bfd;
  background: #181c32;
}