
<section id="home"><app-heropage></app-heropage></section>
<section id="skills"><app-skillspage></app-skillspage></section>
<section id="about"><app-about></app-about></section>
<section id="skill"><app-skills></app-skills></section>
<section id="education"><app-education></app-education></section>
<section id="portfolio"><app-portfolio></app-portfolio></section>
<section id="contact"><app-contact></app-contact></section>
<!-- WhatsApp Sticky Icon -->
<app-floating-icons></app-floating-icons>


