.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background:
    radial-gradient(circle at top left, rgba(0, 123, 255, 0.2), transparent 40%),
    radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.9), transparent 50%);
  border-left: 4px solid #139bfd;  

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
