<div class="container my-5">
  <h2 class="mb-3 text-center">{{ project?.title }}</h2>
  
 <!-- Main Image -->
<div class="text-center mb-4">
  <img [src]="project?.images[selectedImageIndex]" class="img-fluid rounded shadow-lg" style="max-height: 400px;" />
</div>

<!-- Swiper Thumbnail Carousel -->
<div class="swiper mySwiper position-relative" style="max-width: 400px; margin: 0 auto;">
  <div class="swiper-wrapper align-items-center">
    <div
      class="swiper-slide text-center"
      *ngFor="let img of project?.images; let i = index"
      style="width: auto;"
    >
      <img
        [src]="img"
        (click)="selectImage(i)"
        [class.border-primary]="i === selectedImageIndex"
        class="img-thumbnail"
        style="height: 100px; cursor: pointer;"
      />
    </div>
  </div>

  <!-- Arrows -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>



  <!-- Description -->
  <p class="">{{ project?.description }}</p>

  <!-- Tech badges -->
  <div class="d-flex flex-wrap gap-2 mt-3">
    <span class="badge bg-secondary" *ngFor="let tech of project?.technologies">
      {{ tech }}
    </span>
  </div>
</div>

